<nav class="navbar navbar-static-top white-bg" role="navigation" style="margin-bottom: 0">
  <a [routerLink]="['/products']" class="navbar-minimalize minimalize-styl-2 btn btn-primary"><i class="fa fa-home"></i> </a>
  <ul class="nav navbar-top-links navbar-right">
    <li>
      <a [routerLink]="['/product/create']" *appAccess="['admin']">
        <i class="fa fa-plus"></i>Create product
      </a>
    </li>
    <li><app-cart-btn></app-cart-btn></li>
    <li><a><i class="fa fa-sign-out"></i> Log out</a></li>
    <li><a [routerLink]="['/login']"><i class="fa fa-sign-in"></i> Log in</a></li>
  </ul>
</nav>
