<div class="chat-activity-list">
  <div class="chat-element" *ngFor="let comment of comments | values">
      <a class="pull-left">
          <img alt="image" class="img-circle">
      </a>
      <div class="media-body ">
          <small class="pull-right text-navy">1m ago</small>
          <strong>{{comment.name}}</strong>
          <p class="m-b-xs">
              {{comment.text}}
          </p>
          <small class="text-muted">Today 4:21 pm - 12.06.2014</small>
      </div>
  </div>
</div>

