<div class="middle-box text-center loginscreen animated fadeInDown">
  <h3>Welcome</h3>

  <form class="m-t" role="form" (ngSubmit)="onSubmit(user)">
    <div class="form-group">
      <input type="email" class="form-control" [(ngModel)]="user.email" name="email" placeholder="Email">
    </div>
    <div class="form-group">
      <input type="password" class="form-control" [(ngModel)]="user.password" name="password" placeholder="password">
    </div>
    <button type="submit" class="btn btn-primary block full-width m-b">Login</button>

    <p><small>{{ (af.auth | async)?.uid }}</small></p>
    <p class="text-muted text-center" *ngIf="error">{{error.message}}</p>
  </form>
</div>
