<div id="wrapper">
    <div id="page-wrapper" class="gray-bg">
      <div class="row border-bottom">
        <app-header></app-header>
      </div>
      <div class="row wrapper border-bottom white-bg page-heading">
        <app-sidebar></app-sidebar>
      </div>
      <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
          <router-outlet></router-outlet>
        </div>
      </div>
      <div class="footer">
        <app-footer></app-footer>
      </div>
    </div>
</div>
